body {
    display: flex;
    background-color: #E9D8A6;
    flex-direction: column;
}

.text-input {
    text-align: center;
}

#search-input{
    width: 20em;
    flex-direction: column;
    margin: 1em;
}

#form-button {
    background-color: #94D2BD;
    width: fit-content;
}

main {
    display: flex;
    justify-content: center;
}


textarea {
    margin: 6em;
    height: 12em;
    width: 15em;
    }