body {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  border-color: black;
  border-style: dotted;
  margin: 3em;
}

nav {
  height: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  color: black;
}

nav ul li:first-child {
  flex-grow: 1;
}

#secret-container {
  text-align: center;
  border: black 1px dashed;
}

main {
  display: flex;
  flex-direction: column;
}

#log-in {
  justify-content: center;
  background-color: #94D2BD;
  border-radius: 2em;
  text-align: center;
  border-color: black;
  border-style: dotted;
  padding: 0.4em;
  margin-top: 2em;
}

#create-form {
  margin: 3em;
  background-color: #94D2BD;
  padding: 1em;
  margin-bottom: 3em;
}

h3 {
  text-align: center;
}