* {
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #161a1d;
  color: #f0ffff;
  width: 100vw;
}

#logo {
  margin-right: 2%;
  margin-left: 1%;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card {
  order: 2px;
  border-style: solid;
  border-color: #e5383b;
  margin-top: 10%;
  margin-bottom: 0%;
  background-color: #212529;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  justify-content: center;
}

.listeningToo {
  margin-bottom: 7%;
  margin-top: -30%;
}

.music {
  display: flex;
}

.musicText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#music {
  width: 35vw;
  background-color: #161a1d;
  border-style: none;
  color: white;
  vertical-align: top;
  height: 5vh;
}

#caption {
  padding-bottom: 15%;
  margin-bottom: 5%;
  margin-top: 0%;
  width: 35vw;
  background-color: #161a1d;
  border-style: none;
  color: white;
  vertical-align: top;
}

.submit {
  color: #f0ffff;
  background-color: #e5383b;
  border-style: none;
  margin-top: 1%;
}

.submit:hover {
  color: #b1a7a6;
  background-color: #660708;
  border-style: none;
}
